h1{
text-align: center;
font-family: 'Merienda', cursive;
}

.art{
margin: auto;
}

td{
background-color: black;
height: 350px;
width: 200px;
border: 6px solid white;
}

#one{
background-color: #731DD8;
}

#two{
background-color: #48A9A6;
}

#three{
background-color: #E4DFDA;
}

#four{
background-color: #D4B483;
}

#five{
background-color: #C1666B;
}
